<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  &nbsp;
  <button mat-button [matMenuTriggerFor]="menuFournisseur">Fournisseurs</button>
  <mat-menu #menuFournisseur="matMenu">
    <button mat-menu-item>Liste</button>
    <button mat-menu-item>Nouveau</button>
  </mat-menu>
  &nbsp;
  <button mat-button [matMenuTriggerFor]="menuProduit">Produits</button>
  <mat-menu #menuProduit="matMenu">
    <button mat-menu-item>Liste</button>
    <button mat-menu-item>Nouveau</button>
  </mat-menu>
</mat-toolbar>

<app-product-list></app-product-list>
