<div class="container-fluid">
    <div class="row">
      <div class="col-1">
        <ul class="nav nav-pills nav-justified flex-column ">
            <li class="nav-item">
                <a [routerLink]="['new']" class="nav-link">Nouveau</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['list']" 
                class="nav-link">Liste de produits <span class="sr-only">(current)</span></a>
            </li>
        </ul>
      </div>
      <div class="col-sm">
        <router-outlet> </router-outlet>
      </div>
    </div>
  </div>